/* Base (optional biar konsisten) */
.fade {
    opacity: 0;
    will-change: transform, opacity;
}

/* Fade In */
.fade-in.active {
    animation: fadeIn 2.0s ease forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Fade Up */
.fade-up.active {
    animation: fadeUp 2.0s ease forwards;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Fade Down */
.fade-down.active {
    animation: fadeDown 2.0s ease forwards;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Fade Left */
.fade-left.active {
    animation: fadeLeft 2.0s ease forwards;
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Fade Right */
.fade-right.active {
    animation: fadeRight 2.0s ease forwards;
}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Fade Zoom (scale) */
.fade-zoom.active {
    animation: fadeZoom 2.0s ease forwards;
}

@keyframes fadeZoom {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #3e1818;
  width: 0;
  animation: 
    typing 3s steps(40, end) forwards,
    blink 0.7s infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}