* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================= BASE ================= */
body {
  min-height: 100vh;
  overflow: hidden;
  background: #000;
  font-family: sans-serif;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background: url("assets/flower_frame.webp") center/cover no-repeat;
}

body::-webkit-scrollbar {
  display: none;
}

html, body {
  overflow-x: hidden;
}

#loading-screen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #111;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;
      transition: opacity 0.6s ease;
    }

    .loader {
      width: 80px;
      height: 80px;
      border: 6px solid #333;
      border-top: 6px solid #fff;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    .loading-text {
      color: white;
      margin-top: 20px;
      font-size: 1.1rem;
    }

/* Background */
.wedding-bg {
  position: fixed;
  inset: 0;
  background: #000;
  z-index: -1;
}

/* ================= PHONE FRAME ================= */
.phone-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 420px;
  height: 100vh;

  transform: translate(-50%, -50%);
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  box-shadow: 0 0 40px rgba(123, 123, 123, 0.3);
}

/* overlay frame image */
.phone-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
  z-index: 2;
}

/* ================= SCREEN ================= */
.phone-screen {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* smooth iOS */
}

/* ================= CONTENT ================= */
.pages-container {
  display: flex;
  flex-direction: column;
}

.page {
  min-height: 100vh;
  padding: 40px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* HERO */
.section-hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url("assets/wedding/wedding_13.webp") center/cover;
  padding-bottom: 80px;
}

.section-hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to top,
    rgb(0, 0, 0),  /* bawah gelap */
    rgba(0, 0, 0, 0.38),  /* tengah */
    rgba(251, 251, 251, 0)     /* atas transparan */
  );

  z-index: 1;
}

/* background layer */
.bg-layer {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;

  opacity: 0;
  transition: opacity 1.5s ease-in-out; /* 🔥 smooth */
}

/* layer aktif */
.bg-layer.active {
  opacity: 1;
}

/* biar konten di atas */
.section-hero .content-top {
  margin-top: 100px;
  position: relative;
  z-index: 2;
}

.section-hero .content-bottom {
  position: absolute;           /* Ubah ke absolute agar bisa dikontrol bottom */
  bottom: 40px;                 /* Jarak dari bawah parent */
  left: 50%;
  transform: translateX(-50%);  /* Agar tetap center secara horizontal */
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;          /* atau flex-end jika ada beberapa item */
  justify-content: center;
  width: 100%;                  /* supaya centering lebih mudah */
  padding: 0 20px;
}

.section-hero .overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgba(3, 3, 3, 0);
}

/* WORD-SECTION */
.word-section {
  position: relative;
  height: 100%;
  padding: 16px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.word-section::before {
  content: "";
  position: fixed; /* 🔥 ini bikin background nempel */
  height: auto;
  inset: 0;
  background: url("assets/bg_fixed.jpg") center/cover no-repeat;
  z-index: -1;
}

.text-date{
  font-size: 1.7rem;
  text-align: center;
  color: #020202;
  font-family: 'Playfair Display', serif;
  text-shadow: 0 0 5px rgba(227,123,123,0.5);
}

.text-verse {
  font-size: 0.9rem;
  color: #000000;
  justify-content: center;
  text-align: center;
  font-family: 'Playfair Display', serif;
  text-shadow: 0 0 5px rgba(227,123,123,0.5);
}

/* COUPLE-SECTION*/
.couple-section {
  background: url("assets/bride_bg.jpeg") center/cover;
  border-radius: 50px 50px 0 0;
  position: relative;
  height: 100%;
  padding-top: 24px;
}

.couple-section h3 {
  font-family: 'Great Vibes', cursive;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  color: #0b0b0b;
  text-shadow: 0 0 10px rgba(212,175,55,0.6);
}

.row.flex-nowrap {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.row.flex-nowrap > [class*="col"] {
  flex-shrink: 0;
}

/* TITLE */
.title {
  font-size: 2rem;
  color: #0b0b0b;
  margin: 20px 0px 60px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 3px;
}

/* CONTAINER */
.couple-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

/* CARD */
.person-card {
  width: auto;
  padding: 90px 20px 25px; /* penting untuk ruang foto */
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  position: relative;
  transition: 0.3s;
  margin-top: 70px;
  margin-bottom: 30px;
}
.person-card h5{
  font-size: 1.1rem;
  color: #3e1818;
  font-weight: 600;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 0 0 10px rgba(254, 254, 254, 0.6);
}
.person-card p{
  font-size: 0.8rem;
  color: #3e1818;
  font-weight: 200;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  text-shadow: 0 0 10px rgba(254, 254, 254, 0.6);
}

/* FOTO OVERLAP */
.frame {
  width: auto;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  backdrop-filter: blur(30px);
  margin-top: 30px;

  box-shadow: 
    inset 0 10px 10px rgba(88, 88, 87, 0.56);

  position: relative;
  transition: 0.3s;
}

.frame img {
  width: 500px;
  height: 250px;
  object-fit: cover;
  padding: 5px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

/* TEXT */
.name {
  margin-top: 10px;
  font-size: 1.1rem;
  color: #3e1818;
  font-weight: 600;
  font-family:'Courier New', Courier, monospace;
  text-shadow: 0 0 10px rgba(254, 254, 254, 0.6);
}

.desc {
  font-size: 0.85rem;
  color: #3e1818;
  margin-top: 8px;
}

/* LOVE ICON */
.love {
  font-size: 2.2rem;
  color: #ff4d6d;
  animation: heartbeat 1.2s infinite;
}

/* ANIMATION */
@keyframes heartbeat {
  0%,100% { transform: scale(1); }
  50% { transform: scale(1.3); }
}

/* ================= MOBILE ================= */
@media (max-width: 480px) {

  .couple-container {
    flex-direction: row;
  }



  .love {
    transform: rotate(90deg);
  }

  .person-card {
    width: 90%;
    padding-top: 80px;
  }

  

  .title {
    font-size: 1.6rem;
  }
}

.content {
  position: relative;
  z-index: 2;
}

/* TEXT */
.text-style {
  font-size: 1.8rem;
  color: #fbfafa;
  font-family: cursive;
}

.text-holy {
  color: #fff;
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
  justify-items: center;
  text-align: center;
}

.text-holy-desc {
  color: #fff;
  font-size: 0.8rem;
  font-family: 'Courier New', Courier, monospace;
  justify-items: center;
  text-align: center;
}

/* IMAGE */
.photo-frame img {
  position: relative;
  width: 40%; /* sesuaikan biar pas */
  border: 4px solid #fff;
  border-radius: 250px 250px 14px 14px; /* atas curve, bawah tetap */
  background: linear-gradient(125deg, #b2b2b2, #ffffff);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  margin: 0 auto 20px;
  text-align: center;
  z-index: 1;
}

/* COUPLE */
.couple-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TITLE */
.title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-family:'Courier New', Courier, monospace;
  color: rgb(6, 6, 6);
}

.date-section {
  background-color: rgb(181, 181, 181);
  padding: 40px 20px;
  justify-content: center;
  justify-items: center;
}

.bg-title {
  width: 200px;
  height: auto;
  opacity: 0.6;
}
.rotate {
  transform: rotate(180deg);
}

.title-date {
  font-size: 1.5rem;
  color: #a33604;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  text-shadow: 0 0 10px rgba(212,175,55,0.6);
}

.save-date {
  font-size: 1.3rem;
  color: #000000;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.date-frame{
  margin-top: 50px;
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  justify-items: center;
  justify-content: center;
  line-height: 20px;
  margin-bottom: 10px;
  z-index: 2;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.3);
  background-size: 50%;
  background-position: left;
}

.date-frame-bottom{
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  padding-bottom: 32px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  justify-items: center;
  justify-content: center;
  line-height: 20px;
  z-index: 2;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.3);
  background-size: 50%;
  background-position: left;
}

.date-frame p {
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
  justify-items: center;
  text-transform: uppercase;
  color: #020202;
  font-family:'Courier New', Courier, monospace;
  text-shadow: 0 0 5px rgba(227,123,123,0.5);
}

.date-frame-bottom p {
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
  justify-items: center;
  text-transform: uppercase;
  color: #020202;
  font-family:'Courier New', Courier, monospace;
  text-shadow: 0 0 5px rgba(227,123,123,0.5);
}

/* COUNTDOWN */
.countdown-wrapper {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

/* CARD LINGKARAN */
.countdown-card {
  width: 80px;
  height: 80px;
  border-radius: 20%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);

  border: 1px solid rgba(121, 26, 4, 0.3);

  box-shadow:
    0 6px 20px rgba(0,0,0,0.4),
    inset 0 0 10px rgba(255,215,0,0.2);

  color: #fff;
  transition: 0.3s;
}

/* ANGKA */
.countdown-card span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff; /* gold */
  line-height: 1;
  margin-top: 20%;
}

/* LABEL */
.countdown-card p {
  font-size: 0.7rem;
  margin-top: 4px;
  letter-spacing: 1px;
  color: #fcfcfc;
}

/* HOVER EFFECT */
.countdown-card:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow:
    0 10px 30px rgba(0,0,0,0.6),
    0 0 15px rgba(212,175,55,0.5);
}

/* RESPONSIVE */
@media (max-width: 480px) {
  .countdown-card {
    width: 70px;
    height: 70px;
  }

  .countdown-card span {
    font-size: 1rem;
  }

  .countdown-card p {
    font-size: 0.65rem;
  }
}
/* DIVIDER */
.date-title {
  font-size: 1.5rem;
  color: #360561;
  font-family: cursive;
  text-align: center;
  text-shadow: 0 0 10px rgba(212,175,55,0.6);
}

/* BUTTON */
.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: gold;
  border-radius: 20px;
  color: black;
  text-decoration: none;
}

/* ================= RESPONSIVE ================= */

/* Tablet */
@media (max-width: 768px) {
  .phone-frame {
    width: 90%;
    height: 95vh;
  }
}

/* Mobile */
@media (max-width: 480px) {

  body {
    overflow: auto; /* penting biar scroll */
  }

  .phone-frame {
    position: relative;
    transform: none;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    border-radius: 0;
    border: none;
    box-shadow: none;
  }

  .phone-overlay {
    display: none; /* hilangkan frame image di HP */
  }

  .page {
    padding: 30px 16px;
  }

  .text-style {
    font-size: 1.5rem;
  }

  .photo-frame img {
    width: 120px;
  }

  .image {
    width: 100px;
    height: 100px;
  }

  .countdown-card {
    min-width: 60px;
  }

}

  .galery-section{
      padding-top: 100px;
      background-size: cover;
      background-position: center;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      background-color: rgb(146, 146, 146);
    }
    
    

    /* Hero (opsional) */
    .hero-slider {
      position: relative;
      overflow: hidden;
      border-radius: 16px;
      max-width: 960px;
      margin: 0 auto 24px;
    }
    .hero-slider img {
      width: 100%;
      height: 320px;
      object-fit: cover;
      transition: opacity 0.6s ease;
      border-radius: 16px;
      display: block;
    }

    /* === GALERI 2 KOLOM (phone look) === */
    .gallery.container {
      /* tetap gunakan container agar center, tapi batasi lebar agar “phone look” */
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
    }
    .gallery {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr)); /* selalu 2 kolom */
      gap: 10px;
      margin-top: 1rem;
      margin-bottom: 2rem;
      z-index: 2;
    }
    .gallery-item {
      overflow: hidden;
      border-radius: 12px;
      background: #4e342e;
      cursor: pointer;
      box-shadow: 0 3px 8px rgba(0,0,0,0.25);
      transition: transform 0.25s ease, box-shadow 0.25s ease;
    }
    .gallery-item:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 14px rgba(0,0,0,0.3);
    }
    .gallery-item img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      aspect-ratio: 3 / 4; /* tinggi seragam */
    }

.divider {
  display: flex;
  align-items: center;
  margin: 50px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 2px;
  background: linear-gradient(to right, transparent, gold, transparent);
}

.divider span {
  padding: 0 20px;
  font-family: 'Playfair Display', serif;
  color: rgb(222, 191, 19);
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.congrats-section {
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: url("assets/bride_bg.jpeg") center/cover;
  z-index: 1;
}

.congrats-form{
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  margin: auto;
}

.title-congrats {
  font-size: 1.0rem;
  color: #848282;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.gift-desc {
  font-size: 0.9rem;
  color: #000000;
  font-family:'Courier New', Courier, monospace;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  text-align: center;
  font-weight: 600;
  text-spacing-trim: space-first;
}

.form-congrats{
  z-index: 2;
  margin-left: 16px;
  margin-right: 16px;
}
.congrats-list {
  margin-top: 50px;
  height: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 12px;
  margin-left: 12px;
  margin-right: 12px;
  line-height: 20px;
  margin-bottom: 50px;
  border-radius: 12px;
  z-index: 2;
  box-shadow: 0 0 40px rgba(1, 1, 1, 0.3);
  background-size: 50%;
  background-position: left;
  overflow-y: auto;
}
.congrats-list p {
  font-size: 0.9rem;
  margin-bottom: 8px;
  font-family: 'Playfair Display', serif;
}
.congrats-name {
  font-weight: bold;
  color: #000000;
  font-size: 14px;
}
.congrats-desc {
  font-weight: bold;
  color: #9f9d9d;
  font-size: 12px;
}
.congrats-list hr.full {
  width: 100%;
  
  color: white;
}
.congrats-item {
  margin-right: 20px;
  width: 100%;
}

.gift-section {
  background-color: rgb(146, 146, 146);
  padding: 40px 20px;
  height: auto;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.account-banking-card{
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 12px;
    min-width: 70px;
    line-height: 10px;
    color: #fff;
    backdrop-filter: blur(25px);
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.3);
  }

  .account-bank-name{
    font-family: 'Courier New', Courier, monospace;
    color: black;
  }

  .account-bank-surename{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 14px;
  }

  .account-bank-number{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 14px;
  }

  .account-desc-name{
    padding-left: 30px;
    padding-right: 30px;
  }

  .bank-logo{
    width: 100px;
    height: auto;
  }

  .desc-card{
    justify-content: flex-start;
    text-align: start;
    padding-left: 10px;
    padding-right: 20px;
  }

  .chip-img{
    height: 50px;
    width: 50px;
  }

.end-section {
  height: 100vh;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 200px;
  background: url("assets/wedding/wedding_31.webp") center/cover no-repeat;
}
.end-section .overlay-end {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgba(78, 78, 78, 0);
}
.text-end-section {
  font-size: 1.8rem;
  color: #fafafa;
  font-family: cursive;
  text-align: center;
  justify-content: center;
}

.end-section::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to top,
    rgb(0, 0, 0),  /* bawah gelap */
    rgba(0, 0, 0, 0.495),  /* tengah */
    rgba(0, 0, 0, 0)     /* atas transparan */
  );

  z-index: 1;
}

.text-verse-end {
  font-size: 0.9rem;
  color: #ffffff;
  padding: 16px;
  justify-content: center;
  font-weight: 800;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 0 0 5px rgba(227,123,123,0.5);
}

.wishes-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wishes-item {
  padding: 14px 0;
}

.wishes-card {
  display: flex;
  gap: 5px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 12px;
  transition: 0.25s ease;
}

.wishes-card:hover {
  background: #f8f9fa;
}

.wishes-avatar {
  width: 20px;
  height: 20px;
  background: #6c757d;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 10px;
  flex-shrink: 0;
}

.wishes-content {
  flex: 1;
}

.wishes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.congrats-name {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}

.congrats-desc {
  font-size: 14px;
  color: #666;
  margin: 4px 0 0;
}

.wishes-time {
  font-size: 11px;
  color: #aaa;
}

.badge {
  margin-left: 6px;
  font-size: 10px;
}

